.mainContainer {
    align-content: center;
    /* border: 1px solid #ff0000; */
    height: 99vh;
    width: 99vw;
    text-align: center;

}
.loginContainer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 50%;
    height: 50%;
    position: sticky;
    left: 24%;    
    align-content: center;
    text-align: center;
    
}
.loginContainer > form {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 50%;
    margin: 30px 0 30px 0;
}
.loginContainer > form  input {
    align-self: center;
    margin: 0 0 10px 0;
    width: 60%;
    height: 30px;
}
.loginContainer > form button {
    align-self: center;
    width: 60%;
    height: 30px;
    background-color: rgb(93, 93, 231);
    color: white;
    font-weight: bolder;
    margin: 0 0 20px 0;

} 
.loginContainer a {
    text-decoration: none;
    color: blue;
}
.signup {
    color: blue;
    font-weight: bolder;
}